*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
        font-family: Satoshi, sans-serif;
}

@mixin flex($gap:0){
    display: flex;
    flex-direction: column;
    gap: $gap;

}

main{
    background-color: black;
    @include flex();
    color: white;
    
    .view1{
      
        @include flex();
        padding: 1rem;
        .top{
            width: 100%;
            
            
            img{
                width: 100%;
                border-radius: 0.5rem;

            }
        }
        .bottom{
            background-color: #1e1e1e;
            margin-top: 0.7rem;
            padding: 1rem;
            @include flex(2rem);
            border-radius: 0.5rem;

            
            
            
          
            color: white;
          
            .f2{
               @include flex(0.6rem);
               
                h1{
                    font-size: 2.5rem;
                    font-weight: 300;
                    opacity: 0.8;
                }
                p{
                    font-size: 1.2rem;
                    font-weight: 100;
                    opacity: 0.5;
                    line-height: 1.8;
                }
                button{
                    padding: 0.5rem;
                    width: 40%;
                    font-size: 0.9rem;
                    border-radius: 0.6rem;
                }
            }
        }



        
    }
    .view2{
         @include flex();
        padding: 2rem 3rem;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        .top{
            @include flex(1.8rem);
            text-align: center;
             .element{
                @include flex(0.8rem);
                p{
                    opacity: 0.6;
                    font-size: 1rem
                }
                h2{
                    font-size: 2.1rem;
                }
        }
    }
        .bottom{
             @include flex(1.8rem);
             text-align: center;

             .element{
                @include flex(0.8rem);
                p{
                    opacity: 0.6;
                    font-size: 1rem;
                }
                  h2{
                    font-size: 2.1rem;
                }
             }
        }

    }
    .view3{
        padding: 1rem;
        .top{
            width: 100%;
              @include flex();
                
            img{
                width: 100%;
                
                  border-radius: 0.5rem;
            }
        }
        .bottom{
            border-radius: 0.5rem;
             background-color: #1e1e1e;
            margin-top: 0.7rem;
            padding: 2rem;
            @include flex(2rem);
            border-radius: 0.5rem;

            h1{
                opacity: 0.8;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 2.1rem;
            }
            .paragraphs{
                p{
                    font-size: 1.2rem;
                    font-weight: 100;
                    opacity: 0.5;
                    line-height: 1.5;
                }
            }

            
        }
        .bottom>p{
            opacity: 0.9;
            font-size: 1.2rem;
            
        }


    }
    .view4{
        @include flex(1rem);
        flex-direction: column-reverse;
        margin-top: -20px;
        padding: 1rem;
        .top{
            width: 100%;
              @include flex();
                
            img{
                width: 100%;
                
                  border-radius: 0.5rem;
            }
        }
        .bottom{
            border-radius: 0.5rem;
             background-color: #1e1e1e;
            margin-top: 0.7rem;
            padding: 2rem;
            @include flex(2rem);
            border-radius: 0.5rem;

            h1{
                opacity: 0.8;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 2rem;
                line-height: 1.2;
            }
            .paragraphs{
                p{
                    font-size: 1.2rem;
                    font-weight: 100;
                    opacity: 0.5;
                    line-height: 1.5;
                }
            }

            
        }
        .bottom>p{
            opacity: 0.9;
            font-size: 1.2rem;
            
        }


    }
    .view5{
         @include flex();
        padding: 1rem;
        .head{
            padding-left: 1.5rem;
            h1{
                font-size: 2rem;
                font-weight: 100;
            }
        }
        .person1{
            border-radius: 0.7rem;
            margin-top: 1.4rem;
            
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd7d003dfb6a1bdecb_team-01.webp);
            background-size: cover;
            aspect-ratio: 1/1;
            @include flex();
            justify-content: space-between;

            .icons{
                padding: 1rem;
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                i{
                    border: 1px solid rgb(255, 255, 255);
                   padding: 9px;
                   border-radius: 50%;
                   background-color: rgba(72, 70, 70, 0.377);
                   backdrop-filter: blur(5px);
                }
            }
          .title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: none;
            margin: 10px;
            border-radius: 0.3rem;
            background-color: rgba(91, 85, 85, 0.34);
            backdrop-filter: blur(8px);
            :nth-child(1){
               font-size: 1.3rem;
               font-weight: 100;
                padding: 9px 6px;
            }
            :nth-child(2){
                 padding: 11px 6px;
                 font-size: 0.8rem;

            }
          }  
        }
        .person2{
            border-radius: 0.7rem;
            margin-top: 1.4rem;
            
            background-image: url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbd2e12fa747e999689_team-02.webp);
            background-size: cover;
            aspect-ratio: 1/1;
            @include flex();
            justify-content: space-between;

            .icons{
                padding: 1rem;
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                i{
                    border: 1px solid rgb(255, 255, 255);
                   padding: 9px;
                   border-radius: 50%;
                   background-color: rgba(72, 70, 70, 0.377);
                   backdrop-filter: blur(5px);
                }
            }
          .title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: none;
            margin: 10px;
            border-radius: 0.3rem;
            background-color: rgba(91, 85, 85, 0.34);
            backdrop-filter: blur(8px);
            :nth-child(1){
               font-size: 1.3rem;
               font-weight: 100;
                padding: 9px 6px;
            }
            :nth-child(2){
                 padding: 11px 6px;
                 font-size: 0.8rem;

            }
          }  
        }
                .person3{
            border-radius: 0.7rem;
            margin-top: 1.4rem;
            
            background-image:url(https://assets-global.website-files.com/63cffb7c16ab3347fc9734c8/63d2ccbdc1f945f817bf4fd7_team-03.webp);
            background-size: cover;
            aspect-ratio: 1/1;
            @include flex();
            justify-content: space-between;

            .icons{
                padding: 1rem;
                display: flex;
                justify-content: flex-end;
                gap: 1rem;
                i{
                    border: 1px solid rgb(255, 255, 255);
                   padding: 9px;
                   border-radius: 50%;
                   background-color: rgba(72, 70, 70, 0.377);
                   backdrop-filter: blur(5px);
                }
            }
          .title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: none;
            margin: 10px;
            border-radius: 0.3rem;
            background-color: rgba(91, 85, 85, 0.34);
            backdrop-filter: blur(8px);
            :nth-child(1){
               font-size: 1.3rem;
               font-weight: 100;
                padding: 9px 6px;
            }
            :nth-child(2){
                 padding: 11px 6px;
                 font-size: 0.8rem;

            }
          }  
        }
    }
    .view6{
        
        @include flex();
        padding: 1rem;
        .top{
            width: 100%;
            
            
            img{
                width: 100%;
                border-radius: 0.5rem;

            }
        }
        .bottom{
            background-color: #1e1e1e;
            margin-top: 0.7rem;
            padding: 2rem;
            @include flex(0.5rem);
            border-radius: 0.5rem;

            
            
            
          
            color: white;
            .f1{
                p{
                    opacity: 0.7;
                    font-weight: 100;
                }
            }
          
            .f2{
                display: flex;
                flex-direction: column;
              gap: 3.5rem;
              
               
               
               
                h1{
                    font-size: 2.2rem;
                    font-weight: lighter;
                    opacity: 0.8;
                    text-transform: uppercase;

                }
                button{
                  
                    padding: 0.5rem;
                    width: 40%;
                    font-size: 0.9rem;
                    border-radius: 0.6rem;
                }
            }
        }


    }
    }
    .view7{
        border-radius: 0.7rem;
        background-color: #cebd63;
        @include flex();
        margin: 1rem;
        padding: 1rem;
        color: black;
        .f1{
            opacity: 0.8;
            
        }
        .f2{
            @include flex(1rem);
            h1{
                text-transform: uppercase;
                font-size: 2.7rem;
                font-weight: 100;
                
            }
            button{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.2rem;
                font-size: 1rem;
                background-color: #121212;
                color: white;
                padding: 1rem 6rem;
                border-radius: 0.5rem;
            }
        }

        

    }

    

@media (min-width:900px){

    main{
        
        .view1{
            flex-direction: row;
            padding: 1.5rem;
     

            .top{
               img{
                width: 50vw;
               }
            }
            .bottom{
                margin-left: 1.4rem;
                margin-top: 0;
                justify-content: space-between;
              
            }
          
        }
        .view2{
           
            padding: 1rem 4rem;
            flex-direction: row;
    
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  .top,.bottom{
    display: contents;
    .element{

        h2{
            font-size: 4rem;
            font-weight: 100;
        }
    }
  

    }
        }
        .view3{
          display: flex;
          flex-direction: row-reverse;
       gap: 1.5rem;

       .top{
        width: 50vw;
        margin-top: 1rem;
       

        
       }
       .bottom{
        width: 50vw;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
   .btm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    h1{
        font-size: 2.5rem;
        font-weight: 300;
        opacity: 0.7;
    }
    
         .paragraphs{
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
        }
   }

        
       }
      


        }
        .view4{
          display: flex;
          flex-direction: row-reverse;
       gap: 1.5rem;

       .top{
        width: 50vw;
        margin-top: 1rem;
       

        
       }
       .bottom{
        width: 50vw;
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
   .btm{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    h1{
        font-size: 2.7rem;
        font-weight: 300;
        opacity: 0.7;
    }
    
         .paragraphs{
            display: flex;
            flex-direction: row;
            gap: 1.5rem;
        }
   }

        
       }
      


        }
        .view5{
            .head{
                text-align: center;
            }
            .cards{
                display: flex;
                justify-content: center;
                gap: 1.2rem;
            }
           
           
        }
        .view6{
             flex-direction: row;
            padding: 1.5rem;
     

            .top{
               img{
                width: 50vw;
               }
            }
            .bottom{
                
                
                margin-top: 0;
             .f2{
                @include flex(11rem);
                

                h1{
                    font-size: 2.7rem;
                }
               
             }
                
              
            }
          
        }
        .view7{
            padding: 3rem;
            .full{
                @include flex(0.3rem);
                .f2{
                     display: flex;
                     flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
                    h1{
                        font-size: 4.8rem;
                        font-weight: 100;
                    }
                    button{
                        padding: 0.7rem 3rem;
                        font-size: 0.8rem;
                        margin-top: 109px;
                     
                    }
                }
            }


        }
     
    }
    
}



        
    
  




