*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
@mixin flex($gap:0){
    display: flex;
    flex-direction: column;
    gap: $gap;

}
main{
    background-color: black;
    @include flex();
    
    section{
        @include flex();
        padding: 1rem;
        .top{
            width: 100%;
            
            
            img{
                width: 100%;
                border-radius: 0.5rem;

            }
        }
        .bottom{
            background-color: #1e1e1e;
            margin-top: 0.7rem;
            padding: 1rem;
            @include flex(2rem);
            border-radius: 0.5rem;

            
            
            
          
            color: white;
          
            .f2{
               @include flex(0.6rem);
               
                h1{
                    font-size: 2.5rem;
                    font-weight: 300;
                    opacity: 0.8;
                }
                p{
                    font-size: 1.2rem;
                    font-weight: 100;
                    opacity: 0.5;
                    line-height: 1.8;
                }
                button{
                    padding: 0.5rem;
                    width: 40%;
                    font-size: 0.9rem;
                    border-radius: 0.6rem;
                }
            }
        }


        
    }
}
@media (min-width:900px){

    main{
        
        section{
            flex-direction: row;
            padding: 1.5rem;
     

            .top{
               img{
                width: 50vw;
               }
            }
            .bottom{
                margin-left: 1.4rem;
                margin-top: 0;
                justify-content: space-between;
                .f2{

                }
            }
          
        }
    }
  
    }

